@using Microsoft.AspNetCore.Identity

@inject SignInManager<UserModel> SignInManager
@inject UserManager<UserModel> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-light" asp-area="" asp-controller="Utils" title="Manage">Utils</a>
    </li>
    
}
else
{
   
}
</ul>