@model CreateRoleViewModel
@{
    ViewData["Title"] = "Create Role";
}

<div>
    <form method="post">
        <h4>Create Role</h4>
        <hr />
        <div class="form-group">
            <label asp-for="RoleName">Role name</label>
            <input asp-for="RoleName" class="form-control" />
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>
    </form>    
</div>
