@{
    ViewData["Title"] = "Over Ons";
}

<h1>@ViewData["Title"]</h1>
    <body>
    <div class= "content">
        <p>ZMDH bestaat uit een team die is gespecialiseerd in......</p>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/imgs/zorgverlener_1.jpg" style="  width:100%; height: 500px  !important;" alt="Foto pedagoog Marjolein">
                    <h5>Marjolein De Jong</h5>
                    <h6>Psychodiagnosticus, Gezinsbegeleider</h6>                   
                        <p>Ik heb mezelf o.a gespecialiseerd in het werken met jonge kinderen met ontwikkelingsproblematiek. Daarnaast werk
                        ik veel met kinderen/jongeren binnen het autistisch spectrum, ADHD en leer en gedragsproblemen. Sinds 2006 ben ik
                        werkzaam met kinderen, jongeren en gezinnen die bijzondere aandacht nodig hebben. Als klein meisje droomde ik al om
                        later met kinderen en jongeren te mogen werken. Ik heb de stap gezet om mijn droom waar te maken en heb ter aanvulling
                        op mijn Hbo opleiding tot psychodiagnosticus</p>
                </div>
                <div class="col-md-4">
                    <img src="~/imgs/Pedagoog_Kees.png" style=" width:100%; height: 500px  !important;" alt="Foto pedagoog Kees">
                    <h5>Kees De Bakker</h5>
                    <h6>Orthopedagoog</h6>                   
                        <p>Als orthopedagoog bied ik diagnostiek, ouderbegeleiding en behandeling. Ik heb de studie Pedagogische Wetenschappen
                        afgerond met als afstudeerrichting Orthopedagogiek en de twee hoofddifferentiaties: ‘Jeugdzorg’ en ‘Opvoeding en
                        ondersteuning aan mensen met een beperking’. De afgelopen jaren heb ik gewerkt met kinderen, jongeren, gezinnen en
                        (jong)volwassenen.</p>
                </div>
                <div class="col-md-4">
                    <img src="~/imgs/zorgverlener_harold.jpg" style="  width:100%; height: 500px  !important;" alt="Foto pedagoog Harold">
                    <h5>Harold Godwinson</h5> 
                    <h6>Orthopedagoog</h6>                  
                        <p>Binnen ZMDH ben ik betrokken bij de diagnostiek trajecten en de behandeltrajecten. Ik kijk en lees mee met de
                        onderzoekers en bespreek met hen op welke manier het onderzoek en de uitkomsten vorm gegeven kunnen worden. Ook kijk en
                        lees ik mee met de behandelplannen. Ik ben vooral achter de schermen betrokken bij het proces van het onderzoek en de
                        behandeling. Tenzij er sprake is van meervoudig trauma, dan pak ik een behandeltraject op.</p>                       
                </div>
            </div>
            <a href="#" class="btn btn-primary" alt="Aanmelden">Aanmelden</a>
        </div>
    </body>